<footer>
    <div class="center-wrap tt-relative">
        <div class="footer-content clearfix">
            <div class="footer-default-one">
                <div class="sidebar-widget widget_recent_entries">
                    <p class="foot-heading">Site News</p>
                    <ul>
                        <li>
                            <a class="" href="/news/aspen-institute-report-features-work-of-the-coc">
            Aspen Institute Report Features Work of the COC

        </a>
                        </li>
                        <li>
                            <a class="" href="/news/committee-on-coherence-at-scale-appoints-new-members">
            Committee on Coherence at Scale Appoints New Members

        </a>
                        </li>
                        <li>
                            <a class="" href="/news/video-introduces-committee-on-coherence-at-scale">
            Video introduces Committee on Coherence at Scale

        </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end .footer-default-one -->

            <div class="footer-default-two">
                <div class="sidebar-widget widget_text">
                    <p class="foot-heading">
                        Explore More
                    </p>
                    <div class="textwidget">
                        <p>
                            <a class="external-link" href="http://www.clir.org"><img src="/images/CLIRLogowebcolorsidetextfinal.png" title="CLIR Logo" height="76" width="169" alt="CLIR Logo" class="image-inline" /></a>
                            <a class="external-link"
                                href="http://www.vanderbilt.edu">
                                <br />
                            </a>
                        </p>

                        <span class="portletBottomLeft"></span>
                        <span class="portletBottomRight"></span>

                    </div>
                </div>
            </div>
            <!-- end .footer-default-two -->

            <div class="footer-default-three">
            </div>
            <!-- end .footer-default-three -->
        </div>
        <!-- end .footer-content -->
    </div>
    <!-- end .center-wrap -->

    <div class="footer-copyright clearfix">
        <div class="center-wrap clearfix">
            <div class="foot-copy">
                <p>Copyright © 2013 Committee on Coherence at Scale for Higher Education. All rights reserved.</p>
            </div>
            <!-- end .foot-copy -->
            <a href="about.html#" id="scroll_to_top" class="link-top">Scroll to Top</a>
        </div>
        <!-- end .center-wrap -->
    </div>
    <!-- end .footer-copyright -->

    <div class="shadow top"></div>
    <div class="tt-overlay"></div>
</footer>
